@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Nunito', sans-serif;
    color: #4b5f5f;
    font-size: 16px;
}
header{
    height: 120px;
    background-color: #f9f9f9;
}
nav{
    height: 70px;
    text-align: center;
}
    nav a{
        text-decoration: none;
        color: #4b5f5f;
       /* width: 125px;
        height: inherit;
        line-height: 70px;*/
        padding: 25px 30px;
        display: inline-block;
        border-bottom: #fff solid 3px;
        transition: 500ms;
    }
    nav a:hover{
        border-bottom: #bceff2 solid 3px;
    }

main{
    width: 1100px;
    margin: auto;
    min-height: 550px;
    /* background-color: #e2e2e2; */
}

    main article{
        width: 310px;
        display: inline-block;
        padding: 20px;
        margin: 42px 0px 0px 42px;
        border-radius: 10px;
        /*background-color: #f7bebe;*/
        box-shadow: 0px 0px 8px #d4e7e9;
        transition: 300ms;
    }
    main article:hover{
        box-shadow: 0px 0px 12px #bccfd0;
    }
    main article h2{
        font-size: 18px;
    }

footer{
    height: 120px;
    text-align: center;
    line-height: 120px;
    background-color: #f9f9f9;
}